html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    background-image: url(./images/fondoBackgroound.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Josefin Sans", sans-serif;
}
.conteinerFather{
    display: flex;
    justify-content: center;
    max-width: 75rem;
    height: 30rem;
    max-height: 45rem;
}
.childConteiner{
    width: 60%;
    background-image: url(./images/fondo.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    padding: 1.5rem;
}

.lickStart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    
}
.lickStart div{
    padding: 0 1rem;
    width: 10rem;
    height: 4rem;
    display: flex;
    align-items: center;
    
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: 700;
}

.containerImg{
    width: 40%;
    height: 100%;
}

.containerImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:1024px) {
    .conteinerFather{
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
        max-height: none;
    }

    .containerImg{
        width: 60%;
    }

    .containerImg img{
        min-height: 500px;
    }

    body{
        height: 100%;
        background-size: unset;
    }

    .childConteiner, .containerImg{
        width: 80%;
    }
}

@media (max-width:720px){
    .conteinerFather{
        width: 100%;
    }
    .childConteiner, .containerImg{
        width: 100%;
    }

    .childConteiner{
        background-repeat: repeat;
    }
} 
